<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMeMfqoAkoRzQxmHQ5cnMK6e4Zuyr7ijE</string>
	<key>GCM_SENDER_ID</key>
	<string>977693700957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BMS.MessagesClone</string>
	<key>PROJECT_ID</key>
	<string>messenger-mobile-606b4</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-mobile-606b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977693700957:ios:87245dd156f8105b21aeb4</string>
</dict>
</plist>